<section class="quizWrap">
    <a class="startQuiz" (click)="startQuiz()" [hidden]="hidden">START</a>
    <div class="row">
    <div class="col-xs-12">
      <div [hidden]="!hidden">
        <form *ngIf="i <= 14;else result">
          <div>Score : {{ score }}</div><div>Score : {{ mins }} : {{ secs }}</div>
          <div class="questionWrap" id="questionBox">{{ question }}</div>
          <div class="optionWrap" id="optionBox">
            <ul>
              <li><input type="radio" name="answerOptions" value="{{ ans1 }}" (change)="onOptionSelection($event)">{{ ans1 }}</li>
              <li><input type="radio" name="answerOptions" value="{{ ans2 }}" (change)="onOptionSelection($event)">{{ ans2 }}</li>
              <li><input type="radio" name="answerOptions" value="{{ ans3 }}" (change)="onOptionSelection($event)">{{ ans3 }}</li>
              <li><input type="radio" name="answerOptions" value="{{ ans4 }}" (change)="onOptionSelection($event)">{{ ans4 }}</li>
            </ul>
          </div>
          <div class="hintWrap" *ngIf="revealHint">
            <div class="hint-title">Hint :</div>
            <div>{{ hint }}</div>
          </div>
          <div class="quiz-button-group">
            <button class="btn btn-warning" (click)="showHint()" [disabled]="revealHint">Hint</button>
            <!-- <button class="btn btn-success" (click)="next()" [disabled]="stopQuiz">Next</button> -->
          </div>
        </form>

        <ng-template #result>
          <div class="result-txt">
            You scored <span class="score-txt">{{ score }}</span> out of the 15 questions you answered. <br />
            Your accuracy is <span class="score-txt">{{ score / 1500 * 100 }} %</span>
          </div>
        </ng-template>
      </div>
    </div>
    </div>
  <section id="questionCount" style="display: block;" [hidden]="hidden">{{ questionNo }}</section>
</section>