header {
    padding: 25px 0;
    min-height: 50px;
    background: #000;

}

.projectTitle{
	font-family: 'Patrick Hand', cursive;
	font-size: 25px;
	color: #ff8181;
	text-align: center;
	transform: scale(1);
	animation: titleScale 2s ease normal infinite;
	-moz-animation: titleScale 2s ease normal infinite;
	-o-animation: titleScale 2s ease normal infinite;
	-ms-animation: titleScale 2s ease normal infinite;
	-webkit-animation: titleScale 2s ease normal infinite;
}

@keyframes titleScale{
	0%{
		transform: scale(1);
	}15%{
		transform: scale(1.1);
	}30%{
		transform: scale(1);
	}100%{
		transform: scale(1);
	}
}
